<section id="home">
    <div id="greeting" class="col-12 ps-5">
        <div class="h-100 col-6 ms-5 d-flex flex-column justify-content-center">
            <div>
                <small class="fw-bold text-fourth">Hi, I'am</small>
            </div>
            <div class="mb-0">
                <h3 class="mb-0 text-fourth">DANIEL</h3>
            </div>
            <div class="mt-0">
                <h1 class="fw-bolder mt-0 mb-0 text-fifth">BERNAL JIMÉNEZ</h1>
            </div>
            <div>
                <strong class="text-fifth fs-5" style="text-decoration: underline; text-decoration-color: #152E3E;">Fullstack Web Developer</strong>
            </div>
        </div>
    </div>
    <div class="col-12 pe-2 pe-sm-5 d-flex justify-content-end">
        <ul class="d-flex flex-row">
            <li class="me-3">
                <div type="button">
                    <a href="https://www.linkedin.com/in/daniel-alejandro-bernal-jim%C3%A9nez-106a93142/" target="_blank" class="socialMedia">
                        <i class="fs-4 bi bi-linkedin"></i>
                    </a>
                </div>
            </li>
            <li class="me-3">
                <div type="button">
                    <a href="https://github.com/Dante882105" target="_blank" class="socialMedia">
                        <i class="fs-4 bi bi-github"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>