<section id="resume" class="d-flex justify-content-center align-items-center">
    <div id="background"></div>
    <div class="col-12 d-flex flex-column flex-sm-row">
        <div id="skills" class="col-11 mx-auto col-sm-4">
            <div id="move_lefth">
                <div class="mb-4">
                    <h6 class="text-fifth text-center mb-4" style="text-decoration: underline; text-decoration-color: #152E3E;">Development Skills</h6>
                    <div id="develop" class="col-12 col-sm-11 mx-auto" #skill>
                    </div>
                </div>
                <div>
                    <h6 class="text-fifth text-center" style="text-decoration: underline; text-decoration-color: #152E3E;">Lenguages</h6>
                    <div class="col-11 mx-auto" #lenguages>
                    </div>
                </div>
            </div>
        </div>
        <div id="experience" class="col-11 mx-auto col-sm-4">
            <div id="move_down">
                <div class="col-10 mx-auto">
                    <h6 class="text-center text-fifth mb-4" style="text-decoration: underline; text-decoration-color: #152E3E;">Experience</h6>
                    <div class="text-fifth mb-2">
                        <div>
                            <small class="fw-bold">WAVECOMM COLOMBIA</small>
                        </div>
                        <small>July 2022 - September 2024</small>
                        <div>
                            <div>
                                <small class="fw-bold">Development Engineer</small>
                            </div>
                            <small>Development of web applications using HTML5, CSS, Bootstrap, JavaScript, PHP, Angular, Node.js, MongoDB, and GitLab. Project status tracking, daily reporting following the SCRUM methodology, and code documentation.</small>
                        </div>
                    </div>
                    <hr class="text-fifth">
                    <div class="text-fifth mb-2">
                        <div>
                            <small class="fw-bold">GLOBAL HITSS COLOMBIA</small>
                        </div>
                        <small>April 2019 - January 2021</small>
                        <div>
                            <div>
                                <small class="fw-bold">Junior Process Analyst</small>
                            </div>
                            <small>Conducted internal audits for Claro Colombia's strategic partners (Call Centers). Managed the issuance of fines, sanctions, and penalties according to contractual agreements. Delivered monthly results to the senior management of each strategic partner.</small>
                        </div>
                    </div>
                    <hr class="text-fifth">
                    <div class="text-fifth mb-2">
                        <div>
                            <small class="fw-bold">HOTEL DORADO SUITE</small>
                        </div>
                        <small>June 2018 - April 2019</small>
                        <div>
                            <div>
                                <small class="fw-bold">Junior Web Developer</small>
                            </div>
                            <small>Worked as a frontend developer for a small tourism business using JavaScript and as a backend developer with PHP (Vanilla) for MySQL database connections to manage client reservations, as well as website maintenance.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="education" class="col-11 mx-auto col-sm-4">
            <div id="move_rigth">
                <div class="col-10 mx-auto mb-3 d-flex flex-column align-items-center justify-content-center">
                    <h6 class="text-center text-fifth mb-4" style="text-decoration: underline; text-decoration-color: #152E3E;">Education</h6>
                    <div class="text-fifth mb-2 col-12 d-flex flex-row">
                        <div class="col-3 d-flex align-items-center justify-content-center">
                            <div class="status">
                                <i class="bi bi-mortarboard-fill fs-2 text-sixth"></i>
                            </div>
                        </div>
                        <div class="col-9">
                            <div>
                                <small class="fw-bolder">INDUSTRIAL ENGINEER</small>
                            </div>
                            <small>March 2020, Bogotá.</small>
                            <div>
                                <small class="fw-bold">San Mateo University Foundation</small>
                            </div>
                        </div>
                    </div>
                    <div class="text-fifth mb-2 col-12 d-flex flex-row">
                        <div class="col-3 d-flex align-items-center justify-content-center">
                            <div class="status">
                                <i class="bi bi-patch-check-fill fs-2 text-sixth"></i>
                            </div>
                        </div>
                        <div class="col-9">
                            <div>
                                <small class="fw-bolder">FULLSTACK WEB DEVELOPER</small>
                            </div>
                            <small>December 2021, Bogotá.</small>
                            <div>
                                <small class="fw-bold">Educación IT</small>
                            </div>
                        </div>
                    </div>
                    <div class="text-fifth mb-2 col-12 d-flex flex-row">
                        <div class="col-3 d-flex align-items-center justify-content-center">
                            <div class="status">
                                <i class="bi bi-patch-check-fill fs-2 text-sixth"></i>
                            </div>
                        </div>
                        <div class="col-9">
                            <div>
                                <small class="fw-bolder">MASTER IN JAVASCRIPT</small>
                            </div>
                            <small>June 2022, Bogotá.</small>
                            <div>
                                <small class="fw-bold">Udemy</small>
                            </div>
                        </div>
                    </div>
                    <div class="text-fifth mb-2 col-12 d-flex flex-row">
                        <div class="col-3 d-flex align-items-center justify-content-center">
                            <div class="status">
                                <i class="bi bi-pencil-fill fs-2 text-sixth"></i>
                            </div>
                        </div>
                        <div class="col-9">
                            <div>
                                <small class="fw-bolder">PYTHON TOTAL</small>
                            </div>
                            <small>July 2024, Currently Enrolled, Bogotá.</small>
                            <div>
                                <small class="fw-bold">Udemy</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="other" class="col-10 mx-auto">
                    <div>
                        <h6 class="text-center text-fifth mb-4" style="text-decoration: underline; text-decoration-color: #152E3E;">Other Skills</h6>
                    </div>
                    <div class="col-8 mx-auto">
                        <ul class="d-flex flex-row flex-wrap col-12 ms-0 ps-0">
                            <li class="text-fifth text-center col-6">
                                <div>
                                    <div class="border rounded-circle border-fifth mx-auto others">
                                        <i class="bi bi-columns-gap fs-2"></i>
                                    </div>
                                    <div>
                                        <small class="fw-bold">Web Design</small>
                                    </div>
                                </div>
                            </li>
                            <li class="text-fifth text-center col-6">
                                <div>
                                    <div class="border rounded-circle border-fifth mx-auto others">
                                        <i class="bi bi-phone-fill fs-2"></i>
                                    </div>
                                    <div>
                                        <small class="fw-bold">Responsive Design</small>
                                    </div>
                                </div>
                            </li>
                            <li class="text-fifth text-center col-6">
                                <div>
                                    <div class="border rounded-circle border-fifth mx-auto others">
                                        <i class="bi bi-git fs-2"></i>
                                    </div>
                                    <div>
                                        <small class="fw-bold">Git</small>
                                    </div>
                                </div>
                            </li>
                            <li class="text-fifth text-center col-6">
                                <div>
                                    <div class="border rounded-circle border-fifth mx-auto others">
                                        <i class="bi bi-github fs-2"></i>
                                    </div>
                                    <div>
                                        <small class="fw-bold">Git Hub</small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>