<section id="resume" class="d-flex justify-content-center align-items-center">
    <div class="col-12 d-flex flex-row">
        <div id="skills" class="col-4">
            <div>
                <h6 class="text-fifth text-center text-decoration-underline mb-4">Development Skills</h6>
                <div id="develop" class="col-12 ps-4">
                    <div class="mb-2 d-flex flex-row align-items-center justify-content-center">
                        <div class="logo">
                            <img class="img-fluid" src="../../../../assets/imgs/icons/php.png" alt="">    
                        </div>
                        <div class="ms-2 d-flex align-items-center justify-content-start col-10">
                            <div class="col-3">
                                <small class="text-fourth">Junior</small>     
                            </div>
                            <div class="progress col-7 bg-primary" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px">
                                <div class="progress-bar bg-tertiary" style="width: 25%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 d-flex flex-row align-items-center justify-content-center">
                        <div class="logo">
                            <img class="img-fluid" src="../../../../assets/imgs/icons/javascript.png" alt="">    
                        </div>
                        <div class="ms-2 d-flex align-items-center justify-content-start col-10">
                            <div class="col-3">
                                <small class="text-fourth">Advanced</small>     
                            </div>
                            <div class="progress col-7 bg-primary" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px">
                                <div class="progress-bar bg-tertiary" style="width: 75%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 d-flex flex-row align-items-center justify-content-center">
                        <div class="logo">
                            <img class="img-fluid" src="../../../../assets/imgs/icons/python.png" alt="">    
                        </div>
                        <div class="ms-2 d-flex align-items-center justify-content-start col-10">
                            <div class="col-3">
                                <small class="text-fourth">Junior</small>     
                            </div>
                            <div class="progress col-7 bg-primary" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px">
                                <div class="progress-bar bg-tertiary" style="width: 25%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 d-flex flex-row align-items-center justify-content-center">
                        <div class="logo">
                            <img class="img-fluid" src="../../../../assets/imgs/icons/nodejs.png" alt="">    
                        </div>
                        <div class="ms-2 d-flex align-items-center justify-content-start col-10">
                            <div class="col-3">
                                <small class="text-fourth">Advanced</small>     
                            </div>
                            <div class="progress col-7 bg-primary" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px">
                                <div class="progress-bar bg-tertiary" style="width: 75%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 d-flex flex-row align-items-center justify-content-center">
                        <div class="logo">
                            <img class="img-fluid" src="../../../../assets/imgs/icons/Angular.png" alt="">    
                        </div>
                        <div class="ms-2 d-flex align-items-center justify-content-start col-10">
                            <div class="col-3">
                                <small class="text-fourth">Advanced</small>     
                            </div>
                            <div class="progress col-7 bg-primary" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px">
                                <div class="progress-bar bg-tertiary" style="width: 75%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 d-flex flex-row align-items-center justify-content-center">
                        <div class="logo">
                            <img class="img-fluid" src="../../../../assets/imgs/icons/bootstrap.png" alt="">    
                        </div>
                        <div class="ms-2 d-flex align-items-center justify-content-start col-10">
                            <div class="col-3">
                                <small class="text-fourth">Advanced</small>     
                            </div>
                            <div class="progress col-7 bg-primary" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px">
                                <div class="progress-bar bg-tertiary" style="width: 75%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 d-flex flex-row align-items-center justify-content-center">
                        <div class="logo">
                            <img class="img-fluid" src="../../../../assets/imgs/icons/mongodb.png" alt="">    
                        </div>
                        <div class="ms-2 d-flex align-items-center justify-content-start col-10">
                            <div class="col-3">
                                <small class="text-fourth">Intermediate</small>     
                            </div>
                            <div class="progress col-7 bg-primary" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px">
                                <div class="progress-bar bg-tertiary" style="width: 50%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 d-flex flex-row align-items-center justify-content-center">
                        <div class="logo">
                            <img class="img-fluid" src="../../../../assets/imgs/icons/Mysql.png" alt="">    
                        </div>
                        <div class="ms-2 d-flex align-items-center justify-content-start col-10">
                            <div class="col-3">
                                <small class="text-fourth">Junior</small>     
                            </div>
                            <div class="progress col-7 bg-primary" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px">
                                <div class="progress-bar bg-tertiary" style="width: 25%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 d-flex flex-row align-items-center justify-content-center">
                        <div class="logo">
                            <img class="img-fluid" src="../../../../assets/imgs/icons/html-5.png" alt="">    
                        </div>
                        <div class="ms-2 d-flex align-items-center justify-content-start col-10">
                            <div class="col-3">
                                <small class="text-fourth">Senior</small>     
                            </div>
                            <div class="progress col-7 bg-primary" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px">
                                <div class="progress-bar bg-tertiary" style="width: 90%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 d-flex flex-row align-items-center justify-content-center">
                        <div class="logo">
                            <img class="img-fluid" src="../../../../assets/imgs/icons/css.png" alt="">    
                        </div>
                        <div class="ms-2 d-flex align-items-center justify-content-start col-10">
                            <div class="col-3">
                                <small class="text-fourth">Senior</small>     
                            </div>
                            <div class="progress col-7 bg-primary" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px">
                                <div class="progress-bar bg-tertiary" style="width: 90%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h6 class="text-fifth text-decoration-underline text-center">Lenguages</h6>
                <div class="col-12 ps-4">
                    <div class="mb-2 d-flex flex-row align-items-center justify-content-center">
                        <div class="logo">
                            <img class="img-fluid" src="../../../../assets/imgs/flags/colombia.png" alt="">    
                        </div>
                        <div class="ms-2 d-flex align-items-center justify-content-start col-10">
                            <div class="col-3">
                                <small class="text-fourth">Native</small>     
                            </div>
                            <div class="progress col-7 bg-primary" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px">
                                <div class="progress-bar bg-tertiary" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 d-flex flex-row align-items-center justify-content-center">
                        <div class="logo">
                            <img class="img-fluid" src="../../../../assets/imgs/flags/EEUU.png" alt="">    
                        </div>
                        <div class="ms-2 d-flex align-items-center justify-content-start col-10">
                            <div class="col-3">
                                <small class="text-fourth">Intermediate</small>     
                            </div>
                            <div class="progress col-7 bg-primary" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px">
                                <div class="progress-bar bg-tertiary" style="width: 60%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="experience" class="col-4">
            <div class="col-12 ps-4 ">
                <h6 class="text-center text-fifth text-decoration-underline mb-4">Experience</h6>
                <div class="text-fifth mb-2">
                    <div>
                        <small><strong>WAVECOMM COLOMBIA</strong></small>
                    </div>
                    <small>July 2022 - September 2024</small>
                    <div>
                        <div>
                            <small><strong>Development Engineer</strong></small>
                        </div>
                        <small>Development of web applications using HTML5, CSS, Bootstrap, JavaScript, PHP, Angular, Node.js, MongoDB, and GitLab. Project status tracking, daily reporting following the SCRUM methodology, and code documentation.</small>
                    </div>
                </div>
                <div class="text-fifth mb-2">
                    <div>
                        <small><strong>GLOBAL HITSS COLOMBIA</strong></small>
                    </div>
                    <small>April 2019 - January 2021</small>
                    <div>
                        <div>
                            <small><strong>Junior Process Analyst</strong></small>
                        </div>
                        <small>Conducted internal audits for Claro Colombia's strategic partners (Call Centers). Managed the issuance of fines, sanctions, and penalties according to contractual agreements. Delivered monthly results to the senior management of each strategic partner.</small>
                    </div>
                </div>
                <div class="text-fifth mb-2">
                    <div>
                        <small><strong>HOTEL DORADO SUITE</strong></small>
                    </div>
                    <small>June 2018 - April 2019</small>
                    <div>
                        <div>
                            <small><strong>Junior Web Developer</strong></small>
                        </div>
                        <small>Worked as a frontend developer for a small tourism business using JavaScript and as a backend developer with PHP (Vanilla) for MySQL database connections to manage client reservations, as well as website maintenance.</small>
                    </div>
                </div>
            </div>
        </div>
        <div id="education" class="col-4">
            <div class="col-12 ps-4 d-flex flex-column align-items-center justify-content-center">
                <h6 class="text-center text-fifth text-decoration-underline mb-4">Education</h6>
                <div class="text-fifth mb-2 col-12 d-flex flex-row">
                    <div class="col-3 d-flex align-items-center justify-content-center">
                        <div class="status">
                            <i class="bi bi-mortarboard-fill fs-2 text-sixth"></i>
                        </div>
                    </div>
                    <div class="col-9">
                        <div>
                            <small><strong>INDUSTRIAL ENGINEER</strong></small>
                        </div>
                        <small>March 2020, Bogotá.</small>
                        <div>
                            <small><strong>San Mateo University Foundation</strong></small>
                        </div>
                    </div>
                </div>
                <div class="text-fifth mb-2 col-12 d-flex flex-row">
                    <div class="col-3 d-flex align-items-center justify-content-center">
                        <div class="status">
                            <i class="bi bi-patch-check-fill fs-2 text-sixth"></i>
                        </div>
                    </div>
                    <div class="col-9">
                        <div>
                            <small><strong>FULLSTACK WEB DEVELOPER</strong></small>
                        </div>
                        <small>December 2021, Bogotá.</small>
                        <div>
                            <small><strong>Educación IT</strong></small>
                        </div>
                    </div>
                </div>
                <div class="text-fifth mb-2 col-12 d-flex flex-row">
                    <div class="col-3 d-flex align-items-center justify-content-center">
                        <div class="status">
                            <i class="bi bi-patch-check-fill fs-2 text-sixth"></i>
                        </div>
                    </div>
                    <div class="col-9">
                        <div>
                            <small><strong>MASTER IN JAVASCRIPT</strong></small>
                        </div>
                        <small>June 2022, Bogotá.</small>
                        <div>
                            <small><strong>Udemy</strong></small>
                        </div>
                    </div>
                </div>
                <div class="text-fifth mb-2 col-12 d-flex flex-row">
                    <div class="col-3 d-flex align-items-center justify-content-center">
                        <div class="status">
                            <i class="bi bi-pencil-fill fs-2 text-sixth"></i>
                        </div>
                    </div>
                    <div class="col-9">
                        <div>
                            <small><strong>PYTHON TOTAL</strong></small>
                        </div>
                        <small>July 2024, Currently Enrolled, Bogotá.</small>
                        <div>
                            <small><strong>Udemy</strong></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>