<section id="about" class="bg-primary d-flex flex-sm-row flex-column">
    <div class="col-sm-6 col-10 mx-auto h-100 d-flex flex-nowrap mb-4" id="photo">
        <img class="col-sm-6 col-12 mx-auto img-fluid" src="../../../../assets/imgs/wallpapers/busto.jpg" alt="">
    </div>
    <div class="col-sm-6 col-10 mx-auto h-100 d-flex flex-column align-itms-center justify-content-center overflow-y-auto mb-2" id="info">
        <div class="ms-3 mb-4 text-center text-sm-start">
            <h2 class="text-fifth" style="text-decoration: underline; text-decoration-color: #152E3E;">ABOUT</h2>
            <small class="text-fourth">danberjim13&#64;hotmail.com</small>
        </div>
        <div class="col-sm-8 col-10 mx-auto ms-3">
            <small class="text-tertiary">Industrial Engineer and FullStack Web Developer with over 6 years of experience in various companies and market sectors. Currently focused on developing responsive and cross-platform websites using programming languages such as JavaScript, TypeScript, and PHP (Vanilla), databases like Access, MySQL, and NoSQL (MongoDB), web design and layout with HTML5 and CSS3, CSS preprocessors like Bootstrap, JavaScript frameworks like Node.js and Angular (version 14 and beyond). I also have knowledge in project management and agile methodologies such as SCRUM and CANVAS. Additionally, I possess an intermediate-advanced level of English, proficiency in office tools (Excel, Word, etc.), quality processes (Six Sigma and ISO 9000 and 9001), assertive communication, and excellent customer service skills.</small>
        </div>
    </div>
</section>